a {
  text-decoration: none !important;
  color: #000 !important;
}
.app-wrapper {
  display: flex;
}
.ad {
  width: 11%;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 5px 20px;
}
.ad > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedddd;
}
.app {
  width: 78%;
  background-color: #fff;
}
.content-news-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-content {
  width: 65%;
  border: 1px solid #dedddd;
}
.right-content {
  width: 33%;
  border: 1px solid #dedddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-detailed-container {
  width: 33%;
  border: 1px solid #dedddd;
  padding: 10px;
}
@media (max-width: 1125px) {
  .content-news-wrapper {
    flex-direction: column;
  }
  .left-content {
    width: 100%;
  }
  .right-detailed-container {
    /* width: 100%; */
    display: none;
  }
}
@media (max-width: 850px) {
  .ad {
    display: none;
  }
  .app {
    width: 100%;
  }
  .right-content {
    width: 100%;
  }
}
